.venv
/SAVED_MODELS
/DATASET2
/archive


__pycache__/
*.py[cod]
*$py.class

models/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover


*.log


.vscode/
.idea/
.spyderproject
.spyproject
*.sublime-project
*.sublime-workspace


.ipynb_checkpoints

.DS_Store
Thumbs.db


.env.*
*.env


*.sqlite3
db.sqlite3
staticfiles/
media/


.mypy_cache/
.dmypy.json
dmypy.json


*.iml
